In [1]:
import pandas as pd
import numpy as np
import datetime

import matplotlib.pyplot as plt
import seaborn as sns

import os.path

In [2]:
import xml.etree.ElementTree as etree

In [5]:
from wrangle_xml import wrangle_xml

In [7]:
df = wrangle_xml()

In [8]:
df

,Unnamed: 0,creationDate,device,endDate,sourceName,sourceVersion,startDate,type,unit,value
0,0,2016-06-03 17:38:46 -0500,"<<HKDevice: 0x2825a8410>, name:iPhone, manufac...",2016-06-03 16:40:52 -0500,Noah's iPhone,9.3.1,2016-06-03 16:40:09 -0500,HKQuantityTypeIdentifierStepCount,count,70.0
1,1,2016-06-03 17:38:46 -0500,"<<HKDevice: 0x2825a83c0>, name:iPhone, manufac...",2016-06-03 16:58:26 -0500,Noah's iPhone,9.3.1,2016-06-03 16:57:23 -0500,HKQuantityTypeIdentifierStepCount,count,68.0
2,2,2016-06-03 18:39:21 -0500,"<<HKDevice: 0x2825a9270>, name:iPhone, manufac...",2016-06-03 17:35:45 -0500,Noah's iPhone,9.3.1,2016-06-03 17:34:29 -0500,HKQuantityTypeIdentifierStepCount,count,55.0
3,3,2016-06-03 18:39:21 -0500,"<<HKDevice: 0x2825aa030>, name:iPhone, manufac...",2016-06-03 17:48:03 -0500,Noah's iPhone,9.3.1,2016-06-03 17:43:01 -0500,HKQuantityTypeIdentifierStepCount,count,42.0
4,4,2016-06-03 18:39:21 -0500,"<<HKDevice: 0x2825a8cd0>, name:iPhone, manufac...",2016-06-03 17:49:54 -0500,Noah's iPhone,9.3.1,2016-06-03 17:48:03 -0500,HKQuantityTypeIdentifierStepCount,count,43.0
...,...,...,...,...,...,...,...,...,...,...
137019,137019,2020-08-02 23:59:24 -0500,"<<HKDevice: 0x282501220>, name:iPhone, manufac...",2020-08-02 23:48:24 -0500,Noah's iPhone,13.5.1,2020-08-02 23:48:21 -0500,HKQuantityTypeIdentifierFlightsClimbed,count,1.0
137020,137020,2020-08-03 08:46:39 -0500,"<<HKDevice: 0x2825033e0>, name:iPhone, manufac...",2020-08-03 08:35:06 -0500,Noah's iPhone,13.5.1,2020-08-03 08:35:03 -0500,HKQuantityTypeIdentifierFlightsClimbed,count,1.0
137021,137021,2020-08-03 11:47:24 -0500,"<<HKDevice: 0x282503200>, name:iPhone, manufac...",2020-08-03 11:30:20 -0500,Noah's iPhone,13.5.1,2020-08-03 11:30:17 -0500,HKQuantityTypeIdentifierFlightsClimbed,count,1.0
137022,137022,2020-08-15 09:36:32 -0500,"<<HKDevice: 0x282500780>, name:iPhone, manufac...",2020-08-15 09:33:55 -0500,Noah's iPhone,13.5.1,2020-08-15 09:24:02 -0500,HKQuantityTypeIdentifierFlightsClimbed,count,3.0
137023,137023,2020-08-15 09:44:40 -0500,"<<HKDevice: 0x282502260>, name:iPhone, manufac...",2020-08-15 09:37:26 -0500,Noah's iPhone,13.5.1,2020-08-15 09:34:26 -0500,HKQuantityTypeIdentifierFlightsClimbed,count,5.0

In [34]:
df

,Unnamed: 0,creationDate,device,endDate,sourceName,sourceVersion,type,unit,value
startDate,,,,,,,,,
2016-06-03 16:40:09-05:00,0,2016-06-03 17:38:46-05:00,"<<HKDevice: 0x2825a8410>, name:iPhone, manufac...",2016-06-03 16:40:52-05:00,Noah's iPhone,9.3.1,HKQuantityTypeIdentifierStepCount,count,NaN
2016-06-03 16:57:23-05:00,1,2016-06-03 17:38:46-05:00,"<<HKDevice: 0x2825a83c0>, name:iPhone, manufac...",2016-06-03 16:58:26-05:00,Noah's iPhone,9.3.1,HKQuantityTypeIdentifierStepCount,count,NaN
2016-06-03 17:34:29-05:00,2,2016-06-03 18:39:21-05:00,"<<HKDevice: 0x2825a9270>, name:iPhone, manufac...",2016-06-03 17:35:45-05:00,Noah's iPhone,9.3.1,HKQuantityTypeIdentifierStepCount,count,NaN
2016-06-03 17:43:01-05:00,3,2016-06-03 18:39:21-05:00,"<<HKDevice: 0x2825aa030>, name:iPhone, manufac...",2016-06-03 17:48:03-05:00,Noah's iPhone,9.3.1,HKQuantityTypeIdentifierStepCount,count,NaN
2016-06-03 17:48:03-05:00,4,2016-06-03 18:39:21-05:00,"<<HKDevice: 0x2825a8cd0>, name:iPhone, manufac...",2016-06-03 17:49:54-05:00,Noah's iPhone,9.3.1,HKQuantityTypeIdentifierStepCount,count,NaN
...,...,...,...,...,...,...,...,...,...
2020-08-02 23:48:21-05:00,137019,2020-08-02 23:59:24-05:00,"<<HKDevice: 0x282501220>, name:iPhone, manufac...",2020-08-02 23:48:24-05:00,Noah's iPhone,13.5.1,HKQuantityTypeIdentifierFlightsClimbed,count,NaN
2020-08-03 08:35:03-05:00,137020,2020-08-03 08:46:39-05:00,"<<HKDevice: 0x2825033e0>, name:iPhone, manufac...",2020-08-03 08:35:06-05:00,Noah's iPhone,13.5.1,HKQuantityTypeIdentifierFlightsClimbed,count,NaN
2020-08-03 11:30:17-05:00,137021,2020-08-03 11:47:24-05:00,"<<HKDevice: 0x282503200>, name:iPhone, manufac...",2020-08-03 11:30:20-05:00,Noah's iPhone,13.5.1,HKQuantityTypeIdentifierFlightsClimbed,count,NaN
2020-08-15 09:24:02-05:00,137022,2020-08-15 09:36:32-05:00,"<<HKDevice: 0x282500780>, name:iPhone, manufac...",2020-08-15 09:33:55-05:00,Noah's iPhone,13.5.1,HKQuantityTypeIdentifierFlightsClimbed,count,NaN
2020-08-15 09:34:26-05:00,137023,2020-08-15 09:44:40-05:00,"<<HKDevice: 0x282502260>, name:iPhone, manufac...",2020-08-15 09:37:26-05:00,Noah's iPhone,13.5.1,HKQuantityTypeIdentifierFlightsClimbed,count,NaN

In [9]:
df['endDate'] = pd.to_datetime(df.endDate)
df['startDate'] = pd.to_datetime(df.startDate)
df['creationDate'] = pd.to_datetime(df.creationDate)

In [37]:
df.index.replace(tzinfo = None)

AttributeError: 'DatetimeIndex' object has no attribute 'replace'

In [10]:
df = df.set_index('startDate')

In [12]:
df['value'] =

In [31]:
df_validate.index >= df_2.Date.min()

TypeError: Cannot compare tz-naive and tz-aware datetime-like objects

In [ ]:
df_2 = pd.read_csv("Export.csv")

In [32]:
df_2['Date'] = pd.to_datetime(df_2.Date)

In [27]:
df_2.Date.agg([min, max])

min   2018-08-26
max   2020-08-16
Name: Date, dtype: datetime64[ns]

In [24]:
df_2

        Date  Steps  Distance  Floors Ascended
0    8/16/20  14656       6.7                0
1    8/15/20  10103       4.7                8
2    8/14/20  10554       4.9                0
3    8/13/20   8839       4.2                0
4    8/12/20  10937       5.2                0
..       ...    ...       ...              ...
584  8/30/18   3816       1.5                0
585  8/29/18   5965       2.4                0
586  8/28/18   3590       1.5                1
587  8/27/18   3147       1.3                1
588  8/26/18   4714       1.9                0

[589 rows x 4 columns]

In [ ]:
df.type.value_counts()

In [ ]:
df = pd.read_csv("xml.csv")

In [ ]:
df.type.value_counts()

In [ ]:
df_steps = df[df.type == 'HKQuantityTypeIdentifierStepCount']

In [ ]:
df_steps

In [ ]:
df_steps['endDate'] = pd.to_datetime(df_steps.endDate)
df_steps['startDate'] = pd.to_datetime(df_steps.startDate)
df_steps['creationDate'] = pd.to_datetime(df_steps.creationDate)

In [ ]:
df_steps = df_steps[['creationDate', 'endDate', 'startDate', 'value']]

In [ ]:
df_start = pd.DataFrame(df_steps.set_index('startDate').resample('d').value.sum())

In [ ]:
df_start