In [15]:
import pandas as pd
import numpy as np
import datetime

import matplotlib.pyplot as plt
import seaborn as sns

import os.path

In [16]:
from wrangle_xml import wrangle_xml, preprocessing_xml

In [17]:
df = wrangle_xml()

In [18]:
df.head(2)

,creationDate,device,endDate,sourceName,sourceVersion,startDate,type,unit,value
0,2016-06-03 17:38:46 -0500,"<<HKDevice: 0x2825a8410>, name:iPhone, manufac...",2016-06-03 16:40:52 -0500,Noah's iPhone,9.3.1,2016-06-03 16:40:09 -0500,HKQuantityTypeIdentifierStepCount,count,70.0
1,2016-06-03 17:38:46 -0500,"<<HKDevice: 0x2825a83c0>, name:iPhone, manufac...",2016-06-03 16:58:26 -0500,Noah's iPhone,9.3.1,2016-06-03 16:57:23 -0500,HKQuantityTypeIdentifierStepCount,count,68.0

In [19]:
df = preprocessing_xml(df)

In [20]:
df.head(2)

,creationDate,device,endDate,sourceName,sourceVersion,type,unit,value
startDate,,,,,,,,
2016-06-03 16:40:09,2016-06-03 17:38:46,"<<HKDevice: 0x2825a8410>, name:iPhone, manufac...",2016-06-03 16:40:52,Noah's iPhone,9.3.1,HKQuantityTypeIdentifierStepCount,count,70.0
2016-06-03 16:57:23,2016-06-03 17:38:46,"<<HKDevice: 0x2825a83c0>, name:iPhone, manufac...",2016-06-03 16:58:26,Noah's iPhone,9.3.1,HKQuantityTypeIdentifierStepCount,count,68.0

In [21]:
df_2 = pd.read_csv("Export.csv")

In [22]:
df_2['Date'] = pd.to_datetime(df_2.Date)

In [10]:
df_2.Date.agg([min, max])

min   2018-08-26
max   2020-08-16
Name: Date, dtype: datetime64[ns]

In [31]:
df_2.Date > "2020-01-01"

0       True
1       True
2       True
3       True
4       True
       ...
584    False
585    False
586    False
587    False
588    False
Name: Date, Length: 589, dtype: bool

In [12]:
df.type.value_counts()

HKQuantityTypeIdentifierStepCount                 67915
HKQuantityTypeIdentifierDistanceWalkingRunning    67908
HKQuantityTypeIdentifierFlightsClimbed             1201
Name: type, dtype: int64

In [32]:
df = pd.read_csv("xml.csv")

In [33]:
df.type.value_counts()

HKQuantityTypeIdentifierStepCount                 67915
HKQuantityTypeIdentifierDistanceWalkingRunning    67908
HKQuantityTypeIdentifierFlightsClimbed             1201
Name: type, dtype: int64

In [42]:
df_steps = df[df.type == 'HKQuantityTypeIdentifierStepCount']

In [54]:
df_steps['creationDate'] = pd.to_datetime(df_steps.creationDate)
df_steps['startDate'] = pd.to_datetime(df_steps.startDate)
df_steps['endDate'] = pd.to_datetime(df_steps.endDate)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [59]:
create = df_steps.set_index('creationDate').resample("D").value.sum()

In [60]:
start = df_steps.set_index('startDate').resample("D").value.sum()

In [62]:
end = df_steps.set_index('endDate').resample("D").value.sum()

In [55]:
df_validate = pd.read_csv("Export.csv")

In [56]:
df_validate.join

        Date  Steps  Distance  Floors Ascended
0    8/16/20  14656       6.7                0
1    8/15/20  10103       4.7                8
2    8/14/20  10554       4.9                0
3    8/13/20   8839       4.2                0
4    8/12/20  10937       5.2                0
..       ...    ...       ...              ...
584  8/30/18   3816       1.5                0
585  8/29/18   5965       2.4                0
586  8/28/18   3590       1.5                1
587  8/27/18   3147       1.3                1
588  8/26/18   4714       1.9                0

[589 rows x 4 columns]