In [1]:
import pandas as pd
import numpy as np
import datetime

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import pandas_read_xml as pdx

In [3]:
import xml.etree.ElementTree as etree

In [4]:
tree = etree.parse("export.xml")

In [5]:
root = tree.getroot()

In [ ]:
df = pd.DataFrame(root[4].attrib, index=[0])

In [ ]:
root[5].attrib['type']

In [ ]:
## check to see if attribute is step counter
i = 4
while i < 67920:
    if root[i].attrib['type'] == 'HKQuantityTypeIdentifierStepCount':
    else:
        print(i)
        break
    i += 1

In [ ]:
root[67919].attrib

In [ ]:
i = 67919
while i < 1_000_000:
    if root[i].attrib['type'] == 'HKQuantityTypeIdentifierDistanceWalkingRunning':
    else:
        print(f'{i} is false and break')
        break
    i += 1

In [ ]:
root[135827].attrib

In [ ]:
i = 135827
while i < 1_000_000:
    if root[i].attrib['type'] == 'HKQuantityTypeIdentifierFlightsClimbed':
    else:
        print(f'{i} is false and break')
        break
    i += 1

In [ ]:
root[137028].attrib

In [ ]:
i = 4
type_list = []
while i < 1_000_000:
    if root[i].attrib['type'] in type_list:

    else:
        type_list.append(root[i].attrib['type'])
    i +=1

In [8]:
type_list

NameError: name 'type_list' is not defined

In [ ]:
def build_df()
df = pd.DataFrame()
for i in range(4,137028):
    dict_new = root[i].attrib
    df = df.append(dict_new, ignore_index=True)

In [ ]:
df.to_csv('xml.csv')

In [ ]:
df['endDate'] = pd.to_datetime(df.endDate)
df['startDate'] = pd.to_datetime(df.startDate)
df['creationDate'] = pd.to_datetime(df.creationDate)

In [ ]:
df = df.set_index('startDate')

In [ ]:
df.value.resample('D').sum()

In [ ]:
df.type.value_counts()

In [12]:
df = pd.read_csv("xml.csv")

In [14]:
df.type.value_counts()

HKQuantityTypeIdentifierStepCount                 67915
HKQuantityTypeIdentifierDistanceWalkingRunning    67908
HKQuantityTypeIdentifierFlightsClimbed             1201
Name: type, dtype: int64

In [15]:
df_steps = df[df.type == 'HKQuantityTypeIdentifierStepCount']

In [18]:
df_steps

,Unnamed: 0,creationDate,device,endDate,sourceName,sourceVersion,startDate,type,unit,value
0,0,2016-06-03 17:38:46 -0500,"<<HKDevice: 0x2825a8410>, name:iPhone, manufac...",2016-06-03 16:40:52 -0500,Noah's iPhone,9.3.1,2016-06-03 16:40:09 -0500,HKQuantityTypeIdentifierStepCount,count,70.0
1,1,2016-06-03 17:38:46 -0500,"<<HKDevice: 0x2825a83c0>, name:iPhone, manufac...",2016-06-03 16:58:26 -0500,Noah's iPhone,9.3.1,2016-06-03 16:57:23 -0500,HKQuantityTypeIdentifierStepCount,count,68.0
2,2,2016-06-03 18:39:21 -0500,"<<HKDevice: 0x2825a9270>, name:iPhone, manufac...",2016-06-03 17:35:45 -0500,Noah's iPhone,9.3.1,2016-06-03 17:34:29 -0500,HKQuantityTypeIdentifierStepCount,count,55.0
3,3,2016-06-03 18:39:21 -0500,"<<HKDevice: 0x2825aa030>, name:iPhone, manufac...",2016-06-03 17:48:03 -0500,Noah's iPhone,9.3.1,2016-06-03 17:43:01 -0500,HKQuantityTypeIdentifierStepCount,count,42.0
4,4,2016-06-03 18:39:21 -0500,"<<HKDevice: 0x2825a8cd0>, name:iPhone, manufac...",2016-06-03 17:49:54 -0500,Noah's iPhone,9.3.1,2016-06-03 17:48:03 -0500,HKQuantityTypeIdentifierStepCount,count,43.0
...,...,...,...,...,...,...,...,...,...,...
67910,67910,2020-08-18 20:55:57 -0500,"<<HKDevice: 0x282510be0>, name:iPhone, manufac...",2020-08-18 20:48:09 -0500,Noah's iPhone,13.6,2020-08-18 20:48:04 -0500,HKQuantityTypeIdentifierStepCount,count,9.0
67911,67911,2020-08-18 20:55:57 -0500,"<<HKDevice: 0x282510c80>, name:iPhone, manufac...",2020-08-18 20:48:14 -0500,Noah's iPhone,13.6,2020-08-18 20:48:09 -0500,HKQuantityTypeIdentifierStepCount,count,7.0
67912,67912,2020-08-18 20:55:57 -0500,"<<HKDevice: 0x2825107d0>, name:iPhone, manufac...",2020-08-18 20:49:31 -0500,Noah's iPhone,13.6,2020-08-18 20:49:26 -0500,HKQuantityTypeIdentifierStepCount,count,12.0
67913,67913,2020-08-18 20:55:57 -0500,"<<HKDevice: 0x282513ca0>, name:iPhone, manufac...",2020-08-18 20:49:36 -0500,Noah's iPhone,13.6,2020-08-18 20:49:31 -0500,HKQuantityTypeIdentifierStepCount,count,9.0
67914,67914,2020-08-18 20:55:57 -0500,"<<HKDevice: 0x2825136b0>, name:iPhone, manufac...",2020-08-18 20:49:39 -0500,Noah's iPhone,13.6,2020-08-18 20:49:36 -0500,HKQuantityTypeIdentifierStepCount,count,3.0

In [20]:
df_steps['endDate'] = pd.to_datetime(df_steps.endDate)
df_steps['startDate'] = pd.to_datetime(df_steps.startDate)
df_steps['creationDate'] = pd.to_datetime(df_steps.creationDate)

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [23]:
df_steps = df_steps[['creationDate', 'endDate', 'startDate', 'value']]

In [33]:
df_start = pd.DataFrame(df_steps.set_index('startDate').resample('d').value.sum())

In [34]:
df_start

                             value
startDate
2016-06-03 00:00:00-05:00    469.0
2016-06-04 00:00:00-05:00   4355.0
2016-06-05 00:00:00-05:00   4395.0
2016-06-06 00:00:00-05:00   6535.0
2016-06-07 00:00:00-05:00   6588.0
...                            ...
2020-08-14 00:00:00-05:00  10513.0
2020-08-15 00:00:00-05:00  10103.0
2020-08-16 00:00:00-05:00  14705.0
2020-08-17 00:00:00-05:00  10014.0
2020-08-18 00:00:00-05:00   9214.0

[1538 rows x 1 columns]